* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  padding: 20px;
}
body .container {
  position: relative;
  width: 600px;
  height: 400px;
  border: 3px solid #333;
  overflow: hidden;
}
body .container .img_box {
  position: absolute;
  z-index: 1;
  width: 6000px;
  height: 400px;
}
body .container .img_box img {
  float: left;
  width: 600px;
  height: 400px;
}
body .container .button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  z-index: 2;
  height: 10px;
  width: 200px;
}
body .container .button span {
  float: left;
  margin-left: 5px;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #333;
  cursor: pointer;
}
body .container .button .active {
  background-color: orangered;
}
body .container .arrow {
  position: absolute;
  top: 180px;
  z-index: 2;
  display: none;
  width: 40px;
  height: 40px;
  font-size: 36px;
  font-weight: bold;
  line-height: 33px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
body .container .arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
body .container #prev {
  left: 20px;
  z-index: 999;
}
body .container #next {
  right: 20px;
}
body .container:hover {
  display: block;
}
